<div>
    <nav class="navbar navbar-expand navbar-dark bg-success">
        <a href="#" class="navbar-brand">Rest</a>
        <div class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink="tutoriales" class="nav-link">Tutoriales</a>
            </li>
            <li class="nav-item">
                <a routerLink="agregar" class="nav-link">Agregar Tutorial</a>
            </li>
        </div>
    </nav>
    <div class="container mt-3">
        <router-outlet></router-outlet>

    </div>
    <footer class="footer bg-success rounded-top text-center" style="
    position: absolute;
    bottom: 0px;
    height: 66px;
    width: 100%;

">
        <div class="container py-2">
            <p class="text-white my-2">
                &copy; Alejandro Riscart
            </p>
        </div>
    </footer>
</div>